<br/>

<h1>Formulario de inicio de sesión</h1>

<form action="/" method="post">
    <input type="text" name="username" id="username" placeholder="Nombre" />
    <input type="submit" id="ingresar" placeholder="Ingresar!" />
</form>

<br/>
{{> footer}}
<br/>