<br/>

<h1>Formulario de inicio de sesión</h1>

<form action="/home" method="post">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" />
    <input type="submit" id="ingresar" placeholder="Ingresar!" />
</form>

<br/>
{{> footer}}
<br/>