{{> navbar}}
<br/>


<h1>Página principal de la página</h1>

<h3>Bienvenido {{nombre}}</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eaque, earum, quis adipisci neque modi fugiat facilis numquam eos qui omnis eveniet sit explicabo temporibus libero eius animi cum aperiam?</p>
<br/>
{{> footer}}
<br/>